@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  // font-family
  --karla-font: "Karla", sans-serif;

  // color
  --white: #fff;
  --cyan: #2ab3b1;
  --bright-green: #c0df33;
  --grayish-blue: #9aa7be;
  --light-gray: #e6eff5;
}
